# /docker-compose.yml
version: '3.8'

services:
 
  redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'


  ingestor:
    build: ./services/ingestor
    ports:
      - '3001:3001'
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

  
  broadcaster:
    build: ./services/broadcaster
    ports:
      - '3002:3002'
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

  
  frontend:
    build: ./frontend
    ports:
      - '80:80' 
